<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  
  		<nav id="navbar" class="navbar navbar-expand-lg navbar-dark glass-nav fixed-top">
	    	<div th:class="container">
	            <a class="navbar-brand text-accent fw-bold" th:href="@{/}" th:text="#{app.name}"></a>
	            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
	                <span class="navbar-toggler-icon"></span>
	            </button>
	            <div class="collapse navbar-collapse" id="navbarNav">
	                <ul class="navbar-nav ms-auto align-items-center">
	                    <li class="nav-item">
	                   		<a sec:authorize="isAuthenticated()" class="btn btn-accent ms-2" th:href="@{/web/game}" th:text="#{navbar.play}"></a>
                        	<a sec:authorize="!isAuthenticated()" class="btn btn-accent ms-2" th:href="@{/web/game/guest}" th:text="#{navbar.play.as.guest}"></a>
	                    </li>
	                    <li sec:authorize="!isAuthenticated()" class="nav-item guest-only">
	                        <a class="nav-link" th:href="@{/web/signIn}" th:text="#{navbar.login}"></a>
	                    </li>
	                    <li sec:authorize="!isAuthenticated()" class="nav-item guest-only">
	                        <a class="nav-link" th:href="@{/web/signUp}" th:text="#{navbar.registro}"></a>
	                    </li>
	                    <li sec:authorize="isAuthenticated()" class="nav-item guest-only">
                        	<a class="nav-link" th:href="@{/web/profile/view}" th:text="#{navbar.profile}"></a>
                    	</li>
	                    <li sec:authorize="isAuthenticated() && hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_ARBITRO')" class="nav-item guest-only">
	                        <a class="nav-link" th:href="@{/web/admin/dashboard}" th:text="#{navbar.admin}"></a>
	                    </li>
	                    <li sec:authorize="isAuthenticated()" class="nav-item logged-in-only">
                        	<a class="btn btn-outline-light ms-2 btn-sm" th:href="@{/web/logout}" th:text="#{navbar.logout}"></a>
                    	</li>
	                </ul>
	            </div>
	        </div>
    	</nav>
</html>