<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
	 
	<body>
		<div id="view-users-list" class="view-section" layout:fragment="page-content">
			<div class="d-flex justify-content-between align-items-center mb-4">
                <h2 th:text="#{administracion.users.section.title}"></h2>
                <a th:href="@{/admin/user/edit}" class="btn btn-accent" th:text="#{user.create.btn}"></a>
            </div>
            <div class="glass-card p-0 overflow-hidden">
                <table class="table table-borderless table-hover table-dark mb-0 custom-table">
                    <thead class="table-dark-header">
                        <tr>
                        	<th th:text="#{col.id}"></th>
                        	<th th:text="#{col.fecha.registracion}"></th>
                            <th th:text="#{col.email}"></th>
                            <th th:text="#{col.username}"></th>
                            <th th:text="#{col.full.name}"></th>
                            <th style="text-align: right;" th:text="#{col.actions}"></th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr th:each="user : ${listado}">
	                        <td th:text="${user.id}"></td>
	                        <td th:text="${#temporals.format(user.fechaCreacion, 'dd/MM/yyyy HH:mm:ss')}"></td>
	                     	<td th:text="${user.email}"></td>
	                     	<td th:text="${user.username}"></td>
	                     	<td th:text="${user.nombreCompleto}"></td>
	                     	<td style="text-align: right;">
	                     		<a th:href="@{/admin/user/edit?id=} + ${user.id}" class="btn btn-sm btn-outline-light" th:text="#{edit.btn}"></a>
	                     		<button th:id="${'btnDelete-' + user.id}" class="btn btn-sm btn-accent" onclick="confirmarEliminacion(this)" th:data-id="${user.id}" th:data-url="@{/admin/user/delete}" th:data-email="${user.email}" data-bs-toggle="modal" data-bs-target="#deletionModal" th:text="#{delete.btn}"></button>
	                     	</td>
	                    </tr>
                    </tbody>
                </table>
            </div>
            
            <th:block th:replace="~{layouts/fragments/deletion-modal :: modal}"></th:block>
		</div>	
		
		<th:block layout:fragment="page-script">
            <script type="text/javascript">
            	function confirmarEliminacion(btn) {
            		var id = $(btn).data('id');
            		var url = $(btn).data('url');
            		var email = $(btn).data('email');
            		
            		var modal = $('#deletionModal');
					modal.find('#deletionFrm').find('#id').val(id);
					modal.find('#deletionFrm').attr('action', url);
					modal.find('#deletionFrm').find('#modal-info').text(email);
            	}
            </script>
       </th:block>
	</body>
</html>